.adminSidebar-wrap {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: cornflowerblue;
}

.adminSidebar-wrap > img {
  margin-top: 20px;
}

.adminSidebar-wrap > ul > li {
  padding-bottom: 7px;
  font-weight: bold;
}

.adminBoardToggle-button {
  display: contents;
  font-size: 16px;
  font-weight: bold;
}

.adminBoardToggleContents {
  font-size: 16px;
}

.adminBoardToggleContents > li {
  padding-bottom: 2px;
  padding-top: 2px;
  padding-left: 30px;
}