.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 30vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  overflow: hidden;
  background: white;
  border-radius: 8px;
  padding-bottom: 1rem;
}

.modal h1 {
  font-size: 3rem;
  text-align: center;
  line-height: 100px;
}

.modal button {
  display: block;
  margin: 10px auto;

  border: 0;
  background: #004DC1;
  color: white;
  cursor: pointer;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 23rem);
    width: 48rem;
    /* height: 350px; */
    top: 4rem;
    padding-bottom: 1rem;
  }
}


/*3D 버튼*/
.button001 {
  display: inline-block;
  position: relative;
  width: 120px;
  padding: 0;
  margin: 0px 20px 10px 0;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  color: #FFF;
  border-radius: 5px;
  transition: all 0.2s ;
  font-size: 1.15rem;
  border: 2px solid black;
}
.widthBig{
  width: 14rem;
}
.btnBlueGreen {
  background: #004dc1;
}
.btnBlueGreen.btnPush {
  box-shadow: 3px 5px 0px 0px #5b9cff;
}
.btnPush:hover {
  margin-top: 5px;
  margin-bottom: 5px;
}

.btnBlueGreen.btnPush:hover {
  box-shadow: 0px 0px 0px 0px #5b9cff;
}
.marginTop01{
    margin-top: 1rem;
}
