.App {
  text-align: center;
}

input, button, div {
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
  font-weight: 400;
}

a:visited {
  color: black;
}

li {
  list-style: none;
}