.chartWrap {
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.interestChart, .expenditureChart, .userRoleChart {
  margin-top: 20px;
  width: 500px;
}

.interestChart > h2, .expenditureChart > h2, .userRoleChart > h2 {
  font-size: 1.5rem;
}