main {
  min-height: 587px;
}

h2 {
  font-size: 2.5rem;
}

.field {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.field label {
  display: inline-block;
  margin-right: 20px;
  width: 120px;
  text-align: left;
}

.field input {
  width: 300px;
  height: 30px;
  padding: 5px 10px;
  box-sizing: border-box;
}

.field:nth-child(9) div {
  display: inline-block;
  position: relative;
}

.field:nth-child(9), .field:nth-child(10) {
  margin-bottom: 0;
}

.field:nth-child(9) button {
  position: absolute;
  right: 0;
  width: 80px;
  height: 30px;
  background: skyblue;
  color: white;
  border: 1px solid rgba(118, 118, 118);
  font-weight: bold;
}

.field .submit-btn {
  display: inline-block;
  width: 100px;
  height: 40px;
  color: white;
  background: skyblue;
  line-height: 40px;
  border-radius: 4px;
  border: 0;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
