.select {
  background-color: #f7f7f7;
}

.sidebar {
  background-color: #4169E1;
  padding: 5px;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2.7fr;
  grid-template-rows: 100fr 1fr;
}

.eachId {
    background: #fff;
    border-radius: 14px;
    color: #0693c1;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    height: 28px;
    line-height: 28px;
    padding: 0 20px;
    text-align: center;
}

.stageInfoCardTop {
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    padding-bottom: 30px;
    margin-top: 9px;
}

.stageInfoCardTop > h4 {
    color: #fff;
    display: block;
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    margin-top: 18px;
}

.stageInfoCardCont {
    padding: 45px 50px 0;
    text-align: center;
}

.price {
    color: #fff;
    display: block;
    font-size: 30px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
}

.priceDetail {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin-top: 18px;
    margin-bottom: 1px;
    text-align: center;
}

.priceDetailed {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin-top: 0px;
    margin-bottom: 100px;
    text-align: center;
}

