<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.gyemoim.mapper.AccountMapper">

  <resultMap id="memberResultMap" type="java.util.HashMap">
    <result property="uNo" column="uNo"/>
    <result property="email" column="email"/>
    <result property="password" column="password"/>
    <result property="name" column="name"/>
    <result property="ssn" column="ssn"/>
    <result property="phone" column="phone"/>
    <result property="bankName" column="bankName"/>
    <result property="bankAccountNumber" column="bankAccountNumber"/>
    <result property="accountHolder" column="accountHolder"/>
    <result property="identifier" column="identifier"/>
    <result property="creditRating" column="creditRating"/>
    <result property="plusRate" column="plusRate"/>
    <result property="enrollDate" column="enrollDate"/>
    <result property="interest" column="interest"/>
    <result property="postcode" column="postcode"/>
    <result property="address" column="address"/>
    <result property="addressDetail" column="addressDetail"/>
  </resultMap>

  <select id="getMyInfo" resultMap="memberResultMap">
    SELECT *
    FROM member
    WHERE uNo = #{uNo}
  </select>

  <!-- password 확인을 위한 select문 -->
  <select id="getPassword" resultType="String">
    SELECT password
    FROM MEMBER
    WHERE uNo = #{uNo}
  </select>

  <!-- 계모임 계좌 정보 가져오기 -->
  <select id="getMyAccount" resultType="com.team.gyemoim.vo.MyAccountVO">
    SELECT *
    FROM MYACCOUNT
    WHERE uNo = #{uNo}
  </select>

  <!-- 내 계모임 계좌 거래내역 가져오기 -->
  <select id="getMyAccountHistory" resultType="com.team.gyemoim.vo.MyAccountHistoryVO">
    SELECT *
    FROM MYACCOUNTHISTORY
    WHERE uNo = #{uNo}
    ORDER BY TRADINGHOURS DESC
  </select>

  <!-- 내 정보 수정 -->
  <update id="myInfoModify">
    UPDATE MEMBER
    SET name = #{name},
        phone = #{phone},
        bankname = #{bankName},
        bankaccountnumber = #{bankAccountNumber},
        accountHolder = #{accountHolder},
        userRole = '정회원',
        <if test="creditRating == 1">
          pRank = 'A'
        </if>
        <if test="creditRating == 4">
          pRank = 'B'
        </if>
        <if test="creditRating == 7">
          pRank = 'C'
        </if>
    WHERE uNo = #{uNo}
  </update>

  <!-- 내 관심사 수정 -->
  <update id="interestUpdate">
    UPDATE MEMBER
    SET interest = #{interest}
    WHERE uno = #{uno}
  </update>

  <!-- 계모임 계좌 정보 수정 -->
  <update id="myAccountUpdate" parameterType="com.team.gyemoim.vo.MyAccountVO">
    update MYACCOUNT
    SET
        <choose>
          <when test="bankHistory == '충전'">
            MYBALANCE = MYBALANCE + #{transactionAmount}
          </when>
          <when test="bankHistory == '출금'">
            MYBALANCE = MYBALANCE - #{transactionAmount}
          </when>
        </choose>
    WHERE UNO = #{uNo}
  </update>

  <!-- 계모임 계좌 거래내역 저장 -->
  <insert id="deposit" parameterType="com.team.gyemoim.dto.BankHistoryDTO">
    INSERT INTO MYACCOUNTHISTORY(UNO, BANKNAME, BANKACCOUNTNUMBER, TRANSACTIONAMOUNT, BANKHISTORY, TRADINGHOURS)
    VALUES (#{uNo}, #{bankName}, #{bankAccountNumber}, #{transactionAmount}, #{bankHistory}, sysdate)
  </insert>

<!-- 정회원으로 변경시 myAccount에 계모임 계좌 생성 -->
  <insert id="createMyAccount">
    INSERT INTO MYACCOUNT
    VALUES (#{uNo}, '0')
  </insert>

<!-- 회원 탈퇴 -->
  <update id="memberDelete">
    UPDATE MEMBER
    SET ISLEAVE = 'Y'
    WHERE uNo = #{uNo}
  </update>

<!-- 계모임계좌 존재하는지 확인 -->
<!--  <select id="getMyAccount" resultType="Integer">-->
<!--    SELECT UNO-->
<!--    FROM MYACCOUNT-->
<!--  </select>-->
</mapper>