<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.gyemoim.mapper.admin.AdminAccountMapper">

  <select id="getMember" resultType="com.team.gyemoim.vo.MemberVO">
    SELECT *
    FROM MEMBER
    ORDER BY UNO DESC
  </select>

  <select id="getInterest" resultType="Map">
    SELECT interest, count(*) as count
    FROM MEMBER
    GROUP BY interest
  </select>

  <select id="getAverageExpenditure" resultType="Map">
    SELECT TRUNC(avg(medicalCost))  as medicalCost,
           TRUNC(avg(foodCost))     as foodCost,
           TRUNC(avg(housingCost))  as housingCost,
           TRUNC(avg(culturalCost)) as culturalCost,
           TRUNC(avg(etc))          as etc
    FROM EXPENDITURE
  </select>

</mapper>