<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.gyemoim.mapper.BoardMapper">

    <!-- 게시글 Read -->
    <!-- 게시글 총 갯수 구하기 -->
    <select id="countBoard" resultType="int">
        SELECT COUNT(*)
        FROM BOARD
    </select>

    <!-- 게시글 목록 가져오기 -->
    <select id="selectBoard" resultType="com.team.gyemoim.vo.BoardVO">
        SELECT *
        FROM BOARD
        ORDER BY writeDate DESC
    </select>


    <!-- 게시글 리스트 조회하기 (검색 O & 게시글 타입에 따라 조회) -->
    <select id="searchList" parameterType="com.team.gyemoim.dto.board.BoardListDTO"
            resultType="com.team.gyemoim.vo.BoardVO">
        SELECT *
        FROM BOARD
        WHERE bType = #{btype}
        <if test="searchType != ''  and searchKeyword != '' ">
            <if test="searchType == 'title'">
                AND title LIKE '%' || #{searchKeyword} || '%'
            </if>
            <if test="searchType == 'content'">
                AND content LIKE '%' || #{searchKeyword} || '%'
            </if>
            <if test="searchType == 'name'">
                AND name LIKE '%' || #{searchKeyword} || '%'
            </if>
        </if>
        ORDER BY writeDate DESC
    </select>


    <!-- 특정 게시글 상세보기 -->
    <select id="readDetail" resultType="com.team.gyemoim.vo.BoardVO">
        SELECT *
        FROM BOARD
        WHERE bid = #{bid}
    </select>


    <!-- 게시글 조회수 수정 -->
    <update id="updateViewCnt">
        UPDATE BOARD
        SET views = views + 1
        WHERE bid = #{bid}
    </update>


    <!-- 게시글 Create -->
    <!-- 게시글 번호 조회 -->
    <select id="getBid" resultType="int">
        SELECT BID_BOA_SEQ.NEXTVAL FROM dual
    </select>

    <!-- 글 작성하기 -->
    <insert id="insert" parameterType="com.team.gyemoim.vo.BoardVO">
        INSERT INTO board (bid, uNo, name, bType, title, views, content, writeDate, secret)
        VALUES (#{bid}, #{uNo}, #{name}, #{btype}, #{title}, 0, #{content}, sysdate, #{secret})
    </insert>


    <!-- 게시글 Update -->
    <!-- 수정 전 원래 글 세부내용 가져오기 -->
    <select id="modify" resultType="com.team.gyemoim.vo.BoardVO" parameterType="int">
        SELECT *
        FROM BOARD
        WHERE bid = #{bid}
    </select>


    <!-- 특정 bid 에 해당하는 게시글 수정하기 -->
    <update id="modifyUpdate" parameterType="com.team.gyemoim.dto.board.BoardModifyDTO">
        UPDATE BOARD
        SET uNo     = #{uNo},
            name    = #{name},
            title   = #{title},
            content = #{content},
            secret  = #{secret}
        WHERE bid = #{bid}
    </update>

    <!-- 특정 bid 에 해당하는 게시글에 있는 첨부파일 수정하기 -->
    <update id="addAttachedUpdate">
        UPDATE ATTACHED
        SET filename = #{filename}
        WHERE bid = #{bid}
    </update>


    <!-- 게시글 Delete -->
    <!-- 특정 bid 와 글 작성자 uNo에 해당하는 게시글 삭제하기 -->
    <delete id="delete" parameterType="com.team.gyemoim.dto.board.BoardDeleteDTO">
        DELETE
        FROM BOARD
        WHERE bid = #{bid}
          AND uNo = #{uNo}
    </delete>


    <!-- 첨부파일 -->
    <!-- 첨부파일 생성 Create -->
    <insert id="saveAttached" parameterType="com.team.gyemoim.vo.AttachedVO">
        INSERT INTO Attached (attachedID, bid, filename, fileSize, fileType, filePath, uploadDate, modifyDate)
        VALUES (ATTACHEDID_ATTACHED_SEQ.NEXTVAL, #{bid}, #{filename}, #{fileSize}, #{fileType},
                #{filePath}, SYSTIMESTAMP, SYSTIMESTAMP)
    </insert>

    <!-- 첨부파일 조회하기 Read -->
    <select id="getAttachedById" parameterType="int" resultType="com.team.gyemoim.vo.AttachedVO">
        SELECT *
        FROM Attached
        WHERE bid = #{bid}
    </select>



</mapper>


