<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.gyemoim.mapper.HomeMapper">
    <!--(찬희) 랜덤으로 6개의 대기중인 PF 정보 추출-->
    <select id="getPfHomeList" resultType="com.team.gyemoim.dto.HomeListDTO">
        SELECT *
        FROM (
        SELECT *
        FROM PF
        WHERE startFlag = '대기중'
        ORDER BY dbms_random.value
        )
        WHERE  6 >= ROWNUM
    </select>

    <!--(찬희) 각 계모임의 roll 정보 추출-->
    <select id="getPfRollList" resultType="com.team.gyemoim.dto.HomeListDTO">
        SELECT
        roll.pfID,
        roll.receiveTurn,
        roll.uNo
        FROM pf
        JOIN roll ON PF.PFID = roll.PFID
    </select>

</mapper>