<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.gyemoim.mapper.MemberMapper">

    <!-- 회원가입 -->
    <insert id="account">
        INSERT INTO MEMBER
            (uNo, email, password, name, phone)
        VALUES (uno_mem_seq.nextVal, #{email}, #{password}, #{name}, #{phone})
    </insert>

    <!-- 회원 권한 정보 -->
    <select id="findByEmail" resultType="com.team.gyemoim.dto.MemberDTO">
        SELECT *
        FROM MEMBER
        WHERE email = #{email}
    </select>

    <!-- email 찾기 -->
    <select id="memberEmailSearch" resultType="string">
        SELECT email
        FROM Member
        WHERE name = #{name}
          AND phone = #{phone}
    </select>

<!--     password 찾기-->
    <select id="memberPwdSearch" resultType="string">
        SELECT password
        FROM Member
        WHERE name = #{name}
          AND email = #{email}
          AND phone = #{phone}
    </select>

</mapper>