<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.gyemoim.mapper.StageMapper">

  <!--(찬희)스테이지 참여 시 roll insert-->
  <insert id="rollIn">
    INSERT INTO roll(uNo, pfID, receiveTurn)
    VALUES (#{uNo} , #{pfID}, #{receiveTurn})
  </insert>

  <!--(찬희)roll의 uNo 갯수 조회 -->
  <select id="RollUnoCount" resultType="int">
    SELECT COUNT(uNo)
    FROM roll
    WHERE pfID = #{pfID}
  </select>

  <!--(찬희)PF의 pfEntry 값 조회 -->
  <select id="pfEntryValue" resultType="int">
    SELECT pfEntry
    FROM PF2
    WHERE pfID = #{pfID}
  </select>

  <!--(찬희)PF의 startDate 값 조회 -->
  <select id="getStartDate" resultType="java.util.Date">
    SELECT startDate
    FROM PF2
    WHERE pfID = #{pfID}
  </select>

  <!--(찬희)PF의 startFlag를 '참여중'으로 update-->
  <update id="stageStart" parameterType="com.team.gyemoim.dto.stage.StagePfDTO">
    UPDATE PF2
    SET startFlag = '참여중'
    WHERE pfID = #{pfID}
  </update>

  <!--(찬희)PF의 startDate를 SYSDATE update-->
  <update id="startDateInsert" parameterType="com.team.gyemoim.dto.stage.StagePfDTO">
    UPDATE PF2
    SET startDate = SYSDATE
    WHERE pfID = #{pfID}
  </update>

  <!--(찬희)PF의 endDate를 SYSDATE update-->
  <update id="endDateInsert" parameterType="com.team.gyemoim.dto.stage.StagePfDTO">
    UPDATE PF2
    SET endDate = #{endDate}
    WHERE pfID = #{pfID}
  </update>

  <!--(찬희)스테이지에 관한 pfList -->
  <select id="getPfList" resultType="com.team.gyemoim.dto.stage.StagePfDTO">
    SELECT * FROM pf2
    WHERE pfID = #{pfID}
  </select>

  <!--(찬희)개인 RollList -->
  <select id="getRollList" resultType="com.team.gyemoim.dto.stage.StageRollDTO" parameterType="com.team.gyemoim.dto.stage.StageRollDTO">
    SELECT DISTINCT r.*, i.uPayment, i.uTotalPayment, i.uTotalReceipts
    FROM ROLL r
    JOIN IMPORT2 i ON i.receiveTurn = r.receiveTurn
    JOIN PF2 p ON p.pfRate = i.pfRate
    WHERE p.deposit = i.deposit
    AND r.pfID = #{pfID}
    AND uNo = #{uNo}
  </select>

  <!--(찬희)참여중인 MemberList -->
  <select id="getMemList" resultType="com.team.gyemoim.dto.stage.StageRollListDTO">
    SELECT DISTINCT p.pfEntry, r.uNo, r.receiveTurn, r.pfMaster, CASE WHEN r.uNo IS NULL THEN NULL ELSE m.name END AS name
    FROM pf2 p
    LEFT JOIN roll r ON p.pfID = r.pfID
    LEFT JOIN member m ON r.uNo = m.uNo
    WHERE r.pfID = #{pfID}
    ORDER BY r.receiveTurn
  </select>

  <!--(찬희)수령예정표 갖고오기-->
  <select id="getImportList" resultType="com.team.gyemoim.dto.stage.StageImportDTO">
    SELECT i.*
    FROM import2 i, pf2 p
    WHERE i.deposit = p.deposit
    AND i.pfRate = p.pfRate
    AND p.pfID = #{pfID}
  </select>

  <!--(찬희) MyAccount 정보 갖고오기-->
  <select id="getMyAccount" resultType="Integer">
    SELECT mybalance FROM MYACCOUNT
    WHERE uNo = #{uNo}
  </select>

  <!--(찬희)스테이지 나갈 때 roll_uNo:delete-->
  <delete id="rollDelete" parameterType="com.team.gyemoim.dto.stage.StageRollDTO">
    DELETE FROM roll
    WHERE uNo = #{uNo}
    AND pfID = #{pfID}
  </delete>

  <!--(찬희)입금하기:pf2 계모임잔액에 uPayment만큼 update-->
  <update id="stageBalanceUpdate" parameterType="com.team.gyemoim.dto.stage.StageRollDTO">
    UPDATE pf2
    SET stageBalance = stageBalance + #{uPayment}
    WHERE pfID = #{pfID}
  </update>

  <!--(찬희)입금하기:My계좌에서 uPayment만큼 빼기-->
  <update id="myAccountUPaymentUpdate" parameterType="com.team.gyemoim.dto.stage.StageRollDTO">
    UPDATE MyAccount
    SET myBalance = myBalance - #{uPayment}
    WHERE uNo = #{uNo}
  </update>

  <!--(찬희)입금하기:입금 횟수 mapper.xml에서 +1-->
  <update id="depositCntPlus" parameterType="com.team.gyemoim.dto.stage.StageRollDTO">
    UPDATE roll
    SET depositCnt = depositCnt + 1
    WHERE uNo = #{uNo}
    AND pfID = #{pfID}
  </update>

  <!--(찬희)입금하기:입금 누적 금액 update-->
  <update id="stageAmountUpdate" parameterType="com.team.gyemoim.dto.stage.StageRollDTO">
    UPDATE roll
    SET stageAmount = stageAmount + #{uPayment}
    WHERE uNo = #{uNo}
    AND pfID = #{pfID}
  </update>
</mapper>