<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.gyemoim.mapper.StageCreateMapper">

    <insert id="stageCreate" >
        INSERT  INTO PF2(pfID,pfName,pfEntry,pfRate,Deposit,interest,receiveTurn)
        VALUES(SEQ_pfID.nextval,#{pfName},#{pfEntry},#{pfRate},#{Deposit},#{interest},#{receiveTurn})
    </insert>

    <insert id="stageParticipate" >
        INSERT  INTO participation2(pfName,receiveTurn)
        VALUES(#{pfName},#{receiveTurn})
    </insert>

    <select id="importGet" parameterType="java.util.HashMap" resultType="com.team.gyemoim.dto.ImportDTO">
        SELECT * FROM import2
        WHERE pfRate=#{pfRate}
    </select>

    <select id="stagePartIn1" parameterType="java.util.HashMap" resultType="com.team.gyemoim.dto.StageCreateDTO">
        SELECT pfID
        FROM PF2
        WHERE pfName=#{pfName}
    </select>

    <select id="stagePartIn2" parameterType="java.util.HashMap" resultType="com.team.gyemoim.dto.ImportDTO">
        SELECT uPayment,uTotalReceipts,uRate,uTotalPayment
        FROM import2 i, PF2 p
        WHERE pfName=#{pfName}
        AND i.pfEntry = p.pfEntry
        AND i.pfRate = p.pfRate
        AND i.deposit= p.deposit
        AND i.receiveTurn= p.receiveTurn
    </select>

</mapper>