<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.gyemoim.mapper.TestMapper">

  <select id="getUserList" resultType="com.team.gyemoim.dto.TestDTO">
    SELECT * FROM member2
  </select>

  <select id="getTestList" resultType="com.team.gyemoim.dto.StageListDTO">
  SELECT * FROM PF
  JOIN participation
  ON PF.PFID = participation.PFID
  WHERE STARTFLAG ='대기중' AND PF.PFID = #{pfID}
  </select>

</mapper>